* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

.controls {
  display: flex;
  justify-content: center;
}

/* episodes */
.list-of-episodes {
  padding: 0;
  text-align: center;
}

.episode-item {
  padding: 2rem;
}
.episode-inside {
  box-shadow: -3px 6px 23px -8px rgba(127, 127, 127, 0.9);
}

.episode-summary {
  padding: 2rem;
}

.episode-title {
  padding: 1rem;
}

.episode-image {
  width: 300px;
}

/* shows */
.show-image > img {
  width: 300px;
}

.hidden {
  display: none;
}
